.top-banner {
  background-color: #0b0b0b;
  padding: 20px 0;
  span {
    font-size: 15px;
    color: #ffffff;
    &:not(:last-child) {
      margin-right: 15px;
    }
    i.fas {
      margin-right: 10px;
    }
  }
  a {
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    &:hover,
    &:active,
    &:focus {
      color: #fc721e;
    }
    i.fas {
      margin-right: 10px;
    }
  }
}
.top-banner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
.top-banner-left {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  width: 50%;
}
.top-banner-right {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  width: 50%;
  text-align: right;
}