.main-nav-li {
  display: inline-block;
}

.main-nav-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #0b0b0b;
  border: 1px solid transparent;
  &:hover,
  &:active,
  &:focus {
    border: 1px solid #fc721e;
  }
}